aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
altair==5.2.0
anyio==3.6.2
apache-airflow==2.6.2
apache-airflow-providers-common-sql==1.5.2
apache-airflow-providers-ftp==3.4.2
apache-airflow-providers-http==4.4.2
apache-airflow-providers-imap==3.2.2
apache-airflow-providers-sqlite==3.4.2
apispec==5.2.2
argcomplete==3.1.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
astroid==3.0.1
asttokens==2.2.1
async-lru==2.0.3
async-timeout==4.0.2
attrs==22.2.0
aws-sam-cli==1.116.0
aws-sam-translator==1.87.0
aws_lambda_builders==1.49.0
Babel==2.12.1
backcall==0.2.0
bandit==1.7.5
beautifulsoup4==4.12.2
binaryornot==0.4.4
bleach==6.0.0
blinker==1.6.2
boto3==1.34.18
boto3-stubs==1.34.92
botocore==1.34.18
botocore-stubs==1.34.94
cachelib==0.9.0
cachetools==5.3.2
cattrs==23.1.2
certifi==2022.12.7
cffi==1.15.1
cfn-lint==0.86.4
chardet==5.2.0
charset-normalizer==3.1.0
chevron==0.14.0
cli-helpers==2.3.0
click==8.1.3
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
comm==0.1.3
configobj==5.0.8
configparser==7.0.0
ConfigUpdater==3.1.1
connexion==2.14.2
contourpy==1.2.0
cookiecutter==2.6.0
cron-descriptor==1.4.0
croniter==1.4.1
cryptography==42.0.7
cycler==0.12.1
dateparser==1.2.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
dnspython==2.3.0
docker==7.0.0
docutils==0.20.1
einops==0.7.0
email-validator==1.3.1
encodec==0.1.1
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.13.1
Flask==2.2.5
Flask-AppBuilder==4.3.1
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
fonttools==4.44.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.12.2
funcy==2.0
gitdb==4.0.11
GitPython==3.1.40
graphviz==0.20.1
greenlet==2.0.1
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
huggingface-hub==0.20.2
idna==3.4
imageio==2.34.0
importlib-metadata==6.11.0
importlib-resources==5.12.0
inflection==0.5.1
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jschema-to-python==1.2.3
json5==0.9.14
jsonpatch==1.33
jsonpickle==3.0.4
jsonpointer==2.3
jsonschema==4.17.3
junit-xml==1.9
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.23.0
kafka-python==2.0.2
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
lazy_loader==0.3
limits==3.5.0
linkify-it-py==2.0.2
lockfile==0.12.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.8.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==2.0.5
mpmath==1.3.0
multidict==6.0.4
mypy-boto3-apigateway==1.34.56
mypy-boto3-cloudformation==1.34.84
mypy-boto3-ecr==1.34.101
mypy-boto3-iam==1.34.83
mypy-boto3-kinesis==1.34.0
mypy-boto3-lambda==1.34.77
mypy-boto3-s3==1.34.91
mypy-boto3-schemas==1.34.0
mypy-boto3-secretsmanager==1.34.72
mypy-boto3-signer==1.34.95
mypy-boto3-sqs==1.34.101
mypy-boto3-stepfunctions==1.34.92
mypy-boto3-sts==1.34.0
mypy-boto3-xray==1.34.0
mysql-connector-python==8.0.32
names==0.3.0
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.2.1
notebook==6.5.4
notebook_shim==0.2.2
numpy==1.24.2
ordered-set==4.1.0
packaging==23.0
pandas==2.0.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pbr==6.0.0
pendulum==2.1.2
pgcli==3.5.0
pgspecial==2.0.1
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.2.0
plotly==5.18.0
pluggy==1.2.0
praw==7.7.1
prawcore==2.4.0
prison==0.2.1
prometheus-client==0.16.0
prompt-toolkit==3.0.36
#protobuf==4.25.1
protobuf<=3.20.3
psutil==5.9.4
psycopg==3.1.8
psycopg-binary==3.1.8
psycopg2-binary==2.9.5
pulsar-client==3.2.0
pure-eval==0.2.2
pyarrow==14.0.2
pycparser==2.21
pydantic==1.10.9
pydeck==0.8.1b0
Pygments==2.14.0
PyJWT==2.7.0
pylint==3.0.2
pyOpenSSL==24.1.0
pyparsing==3.1.1
pyrsistent==0.19.3
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-nvd3==0.15.0
python-slugify==8.0.1
pytz==2023.3
pytzdata==2020.1
#pywin32==306
#pywinpty==2.0.10
PyYAML==6.0.1
pyzmq==25.0.2
qtconsole==5.4.2
QtPy==2.3.1
regex==2023.12.25
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rich_argparse==1.1.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.0
safetensors==0.4.1
sarif-om==1.0.4
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
Send2Trash==1.8.0
setproctitle==1.3.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==1.4.46
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.3
stack-data==0.6.2
stevedore==5.1.0
streamlit==1.29.0
suno-bark @ git+https://github.com/suno-ai/bark.git@773624d26db84278a55aacae9a16d7b25fbccab8
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.2.0
tifffile==2024.2.12
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
tomlkit==0.12.4
toolz==0.12.0
torch==2.1.2
torchaudio==2.1.2
tornado==6.2
touch==2020.12.3
tqdm==4.66.1
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers.git@bc72b4e2cdcbc80d5f56731f35dbc9c18b4c8de6
types-awscrt==0.20.9
types-s3transfer==0.10.1
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==5.2
uc-micro-py==1.0.2
unicodecsv==0.14.1
update-checker==0.18.0
uri-template==1.2.0
urllib3==1.26.15
validators==0.22.0
values==2020.12.3
watchdog==4.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.7
wrapt==1.15.0
WTForms==3.0.1
yarl==1.9.2
zipp==3.17.0
